html {
  font-size: 10px;
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5)
    no-repeat;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  border: 20px solid white;
  border-radius: 50%;
  width: 45rem;
  height: 45rem;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
#clock-face {
  height: 100%;
  width: 100%;
  position: relative;
  transform: translate(-2px, -3px);
}
.hand {
  width: 50%;
  background-color: white;
  border-radius: 50% 0 0 50%;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 1.64, 0.58, 1);
}
.hour {
  width: 30%;
  left: 20%;
  height: 0.8rem;
}
.min {
  width: 45%;
  left: 5%;
  height: 0.6rem;
  background-color: darkorange;
}
.sec {
  height: 0.3rem;
}
